/ToastNotification.TestApp/bin/
/ToastNotification.TestApp/obj/
/ToastNotification.TestApp/ToastNotification.TestApp.csproj.user
/ToastNotification.TestApp/ToastNotification.TestApp.csproj.vspscc
/ToastNotification.TestApp/ToastNotification.TestApp.csproj.vssscc
/ToastNotification.TestApp/ToastNotification.TestApp.csproj.vssscc
